/* 1. Configuración general del body y textos */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    color: #212529;   
}

h1, h2, h3, h4, h5, h6, .text-bold {
    font-weight: 700; 
}

p {
  font-weight: 400;
  font-size: 20px;
}


/* 2. Contenedor personalizado para la Navbar */
.navbar-container-custom {
    width: 100%;
    max-width: 65%; 
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

/* 3. Colores personalizados (texto y fondo) */
.text-grey-custom {
    color: #707070; 
}

/* 3. Colores de Fondo Personalizados */
.bg-pink {
    background-color: #e83e8c; 
}

/* 4. Tamaños de los logos */
.logo-nav {
    height: 40px;
    padding-right: 40px;
    width: auto;
}

.logo-footer {
    height: 60px;
    width: auto;
}

